* {
    background-color: #121213;
    box-sizing: border-box;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 50px;
}

.wordle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.board {
    display: grid;
    column-gap: 7px;
    row-gap: 7px;
    grid-template-columns: repeat(5, 1fr);
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121213;
    font-size: 32px;
    font-weight: bolder;
    width: 60px;
    height: 62px;
    border:2px solid #3a3a3c;
    color: white;
}

.win-screen {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.win-board {
    border-radius: 15px;
    padding: 20px 100px;
    justify-items: center;
    display: grid;
    column-gap: 7px;
    row-gap: 70px;
    grid-template-columns: repeat(1, 5fr);
}

.lose-screen {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.lose-board {
    border-radius: 15px;
    padding: 20px 100px;
    justify-items: center;
    display: grid;
    column-gap: 7px;
    grid-template-columns: repeat(1, 5fr);
}

#word {
    margin: 0 0 20px 0;
}

h2 {
    border-bottom: white 2px solid;
}

button {
    border-radius: 20px;
    background-color: #538d4e;
    border: none;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


